* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  width: 100%;
  height: 100vh;
  /* background: #f2f2f2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  /* background: url(./Images2/banner04.jpg) */
  
}

header{
  height: 18%;
  width: 100%;
  /* border-radius: 15px 15px 0px 0px; */
  background-color: #F5011A;
  /* border-bottom: 5px solid #241F21; */
  margin: none;
  padding: 27px;
  display: flex;
  /* justify-content: */
  align-items: center;
}

header img{
  width:14rem
}

/* h1 {
  font-size: 3rem;
  color: #fff;
  margin: 1rem;
  font-style: oblique;
  font-family: 'Roboto', sans-serif;
} */

section {
  width: 100%;
  height: 64%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center; 
  /* background-color: #ffffff;    */
  background-size: cover;
}

/* h2 {
  font-size: 4rem;
  color: #000;
} */

select {
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  width: 18rem;
  height: 2.5rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  border-radius: 15px; 
  border: 3px solid #F5011A;
  background-size: cover;
}

.buttonAdd:before {
  content: none;
}

select{
  cursor: pointer;
}

.buttonAdd{
  height: 4rem;
  width: 13rem;
  cursor: pointer;
  font-size: 1.3rem;
  background: #F5011A;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  /* margin-top: none; */
}

.buttonAdd:hover{
  background:#343434;
}

#btn-cart {
  width: 2.7rem;
  height: 2.5rem;
  background: #F5011A;
  color: #ffffff;
  /* border: 4px solid #F5011A; */
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 0.6rem;
  display: flex;
  margin-right: 2rem;
  border: none;
  cursor: pointer;
}

#btn-cart:hover{
  background:#343434;
}

.fa-cart-plus{
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0.2rem;
} 

#p-counter {
  font-size: 0.5rem;
  background-color: #000041;
  color: #fff;
  margin-right: 0.5rem;
  border-radius: 50%; 
  width: 1.3rem;
  height: 1.3rem;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  position: relative;
  bottom: 6px;  
}

#main-market {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #ffffff; */
  background-size: cover;
}

.cardPrueba {
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
  border: solid 6px #F5011A;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem; 
  background-color: #ffffff;
  
  
}

section h2{
  width: 26%;
  height: 4.5rem;
  margin: 2rem;;
  border-radius: 10px;
  font-size: 4rem;
  border: 4px solid #F5011A;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5011A
}

.header-card {
  width: 100%;
  height: 2rem;
  border-radius: 7px 7px 0 0;  
  background:linear-gradient(to bottom, #00043b, #4ad5f8);
  display: flex;
  justify-content: center;
  margin: 0;  
  padding: 0;
}

.title-card {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-card {
  width: 85%;
  height: 18rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;  
  /* margin-top: 1.5rem; */
}

.eliminar{
  height: 2.9rem;
  width: 2.5rem;
  border-radius: 10px;
  border: none;
  background: #F5011A;
  color: #ffffff;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eliminar:hover{
  background: #343434;
}

.footer-card {
  width: 100%;
  height: 10%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;    
}

.p-price {
  font-size: 1.7rem;
  font-weight: bold;
  /* margin-top: 0.5rem; */
  color: #000000;
  font-family: 'Roboto';
  margin-bottom: 1rem;
}

footer {
  background: #F5011A;
  width: 100%;
  height: 18%;
  font-size: 1.7rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  background-size: cover;
}

.link1{
  /* padding: 2%; */
  height: 4rem;
  width: 17rem;
  margin-right: 1.5rem;
  /* margin: 2rem; */
  background:#F5011A;
  border: 6px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  /* margin-left: 10rem; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size:32px
}

.link2{
    /* padding: 2%; */
    height: 4rem;
    width: 9rem;
    margin-right: 1.5rem;
    /* margin: 2rem; */
    background:#F5011A;
    border: 6px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    /* margin-left: 10rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size:32px
}

.link3{
    /* padding: 2%; */
    height: 4rem;
    width: 10rem;
    margin-right: 1.4rem;
    /* margin: 2rem; */
    background:#F5011A;
    border: 6px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    /* margin-left: 10rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size:32px
}

.link4{
   /* padding: 2%; */
   height: 4rem;
   width: 13rem;
   margin-right: 1.4rem;
   /* margin: 2rem; */
   background:#F5011A;
   border: 6px solid #ffffff;
   border-radius: 10px;
   color: #ffffff;
   /* margin-left: 10rem; */
   /* display: flex;
   justify-content: center;
   align-items: center; */
   font-size:32px
}

.link1:hover{
  background: #FFFDF2;
  cursor: pointer;
  color: #F5011A;
}

.link2:hover{
  background: #FFFDF2;
  cursor: pointer;
  color: #F5011A;
}

.link3:hover{
  background: #FFFDF2;
  color: #F5011A;
  cursor: pointer;
}

.link4:hover{
  background: #FFFDF2;
  cursor: pointer;
  color: #F5011A;
}

.logo1{
  margin-left: 1.3rem;
  width: 15.25%
}

.nav1{
  /* display: inline; */
  padding: 10px;
  width: 100%;
  font-size: 35px;
  /* margin-left: 17rem; */
  float: right;
  display: flex;
  justify-content: flex-end;
}
